---
layout: title-page
---

<h2>Is your event missing?</h2>
<p><a href="https://wood-chris.github.io/CAKE-DRI.github.io/events/add/">Complete our form</a> to have it featured and help connect others with your work!</p>

<div class="events-block-group">
  <div class="events-block-group__inner-container">
    {% include events-collection.html collection="events" sort_by=page.sort_by sort_order=page.sort_order archive=false %}
  </div>
</div>

<p><a href="https://cake-dri.github.io/events-archive/" target="_blank">View past events</a></p>
